/* root variables */
:root {
    --app-grey-primary: #DEE2E6;
    --app-white-primary: #FFFF;
    --app-border-color: var(--app-grey-primary);
}

html, body {
    margin: 0px;
    padding: 0px;
}

/* sidebar */
#sidebar-container.main-sidebar {
    border-right: 1px solid var(--app-border-color);
    background-color: var(--app-white-primary) !important;
}

.brand-image {
    border-radius: 50%;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

#navbar-container.main-header {
    background-color: var(--app-white-primary) !important;
}

.danger-text {
    color: #bb2d3b;
    font-weight: 600;
}

.dropdown-item.danger {
    color: #bb2d3b;
    pointer-events: none;
    font-weight: 400;
}

.dropdown-item.header {
    pointer-events: none;
    font-weight: 600;
}

.dt-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.content,
.container-fluid,
.container-fluid > .row {
    height: 100%;
}